.header {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  color: $lighter-text;

  &__main {
    font-size: 2rem;
  }
  &__sub {
    color: $lighter-text;
    text-decoration: none;
  }
  &__date {
    color: $lighter-text;
  }
}
